.aboutWrapper {
  position: relative;
  background: url("https://idei.club/uploads/posts/2021-09/1632081766_11-idei-club-p-lyustra-v-komnatu-interer-krasivo-foto-11.jpg");
}

.content {
  padding: 10%;
  margin-top: 20%;
  border-radius: 30px;
  background-color: #ffffff;
}

.title{
  font-size: 26px;
  margin-bottom: 10px;
}

.description {

}