.product {
  padding: 20px 0;
  border-bottom: 1px solid rgba(126, 155, 189, 0.3);

  input {
    width: 40px;
    margin-right: 10px;
  }

  .removeBtn {
    cursor: pointer;
  }

  .productTitle {
    font-weight: 700;
  }

  .price {

  }
}